@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}



/* app/app.css */
@import "tailwindcss";

/* Просто применяем шрифт */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}