.login-page {
    margin: 20px;

    >* {
        margin-bottom: 20px;
    }
}

.login-form {
    display: flex;
    flex-direction: column;

    gap: 20px;

    input {
        height: 60px;
        padding: 10px;

        div {
            height: 40px;
        }
    }

    div {
        height: 40px;
    }
}

.submit {
    background-color: rgb(102 216 216);
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
}

.img {
    height: 150px;
    margin: auto;
    padding-bottom: 40px;
}