.page-layout {
    margin: 20px;
    display: flex;
    flex-direction: column;


}

.login-form {
    display: flex;
    flex-direction: column;

    gap: 20px;

    input {
        height: 60px;
        padding: 10px;

        div {
            height: 40px;
        }
    }

    div {
        height: 40px;
    }
}

.button {
    background-color: rgb(102 216 216);
    border-radius: 5px;
    font-weight: 400;
    padding: 20px;
}

.img {
    height: 250px;
    margin: 50px auto;
    border-radius: 10px;
}

.title {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.bottom {
    margin-top: auto;
    margin-bottom: 60px;
    align-self: center;
}

.text {
    margin-bottom: 20px;
}

.sub-text {
    display: inline;
    color: gray
}

.details {
    margin-bottom: 20px;
}

.header-summary {
    font-weight: bolder;
    font-size: 20px;
}

.header-container {
    display: flex;
    width: 100vw;
    gap: 10px;
    /* justify-content: space-between; */
    position: -webkit-sticky;
    position: sticky;
    background-clip: padding-box;

    top: -1px;
    margin: -1px -20px 0 -20px;
    padding: 21px 0 20px 0;

    font-weight: bolder;
    font-size: 25px;
    z-index: 10;

    background-color: var(--bg-primary, #ffffff);
    align-self: flex-start;

    box-sizing: border-box;

    /* Оставляем для стабильности слоев на iOS */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

@media (prefers-color-scheme: dark) {
    .header-container {
        background-color: var(--color-gray-950);
        color: #f9fafb;
    }
}


@media (prefers-color-scheme: light) {
    .header-container {
        background-color: var(--color-white);
    }
}

.small-header {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 16px;
}

.main-testing {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    max-width: 800px;
    min-height: 100vh;
    gap: 15px;
}

.perfume-img {
    height: 220px;
    width: auto;
    object-fit: contain;
    border-radius: 5px;
    display: block;
    margin-left: 0 !important;
    /* форсируем для Safari */
    margin-right: auto !important;
    /* Для Safari */
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.about-container {
    display: flex;
    gap: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    >*:last-child {
        margin-top: auto;
        align-self: flex-start;
    }
}

.perfume-link {
    text-decoration: underline;
    margin-top: 5px;
    /* border-bottom: 1px solid rgb(17 111 111); */
    color: rgb(17 111 111);
    /* Для Safari */
    -webkit-align-self: flex-end;
    align-self: flex-end;
    font-size: 14px;
}

.main-comment {
    line-height: 10px;
    margin-bottom: 15px;
}

.with-separator-block {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    >* {
        justify-content: start;
        align-items: start;
        width: 50%;

        >* {
            flex-direction: column;
        }

    }
}

.impressions-content {
    padding: 10px;
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    .impressions-content {
        background-color: #393e4d57;
        color: #f9fafb;
    }
}

@media (prefers-color-scheme: light) {
    .impressions-content {
        background-color: #eef7f7
    }
}