.note-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

}

.note-text {
    overflow-wrap: normal;
    word-break: break-word;
    display: flex;
    align-items: end;
    padding: 5px;
    /* max-width: 70%; */

}

.note-row {
    display: flex;
    position: relative;
    border: 1px solid #80808054;
    border-radius: 5px;


    /* gap: 10px; */

    >img {
        /* margin: -5px; */
        border-radius: 5px;

    }
}

.delete-button {
    position: absolute;
    top: -3px;
    right: 3px;
    color: #987a7a;
    pointer-events: all
}

.note-saved {
    display: flex;
    flex-direction: column;
    gap: 20px;


    margin-top: 20px;



}